NEXT_PUBLIC_APP_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_ENABLE_MOCK_MODE=true
NEXT_PUBLIC_ENABLE_TELEMETRY=false
NEXT_PUBLIC_FEATURE_FLAG_PRIVATE_ROUTES=true
